openapi: 3.0.3
info:
  title: Abdulboy Ebook Empire API
  description: World-class ebook platform API with AI recommendations, multi-payment integration, and subscription services.
  version: 1.0.0
  contact:
    name: Abdulboy Programming Enterprise
    email: support@abdulboy-ebook.com
  license:
    name: Proprietary

servers:
  - url: https://api.abdulboy-ebook.com/api/v1
    description: Production server
  - url: http://localhost:8000/api/v1
    description: Development server

tags:
  - name: Authentication
    description: User authentication endpoints
  - name: Books
    description: Book catalog management
  - name: Payments
    description: Payment processing
  - name: Subscriptions
    description: Subscription management
  - name: Users
    description: User profile management
  - name: Admin
    description: Administrative endpoints
  - name: Gamification
    description: Badges, points, leaderboards

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        message:
          type: string
        errors:
          type: array
          items:
            type: object
        status_code:
          type: integer
    
    UserResponse:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
        full_name:
          type: string
        account_type:
          type: string
          enum: [admin, special, normal]
        subscription_status:
          type: string
        total_points:
          type: integer
        reading_streak:
          type: integer
        created_at:
          type: string
          format: date-time

    BookResponse:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        slug:
          type: string
        description:
          type: string
        author_name:
          type: string
        price:
          type: number
        is_free:
          type: boolean
        cover_image_url:
          type: string
        language:
          type: string
        status:
          type: string
        published_at:
          type: string
          format: date-time

    PaginatedResponse:
      type: object
      properties:
        items:
          type: array
        total:
          type: integer
        page:
          type: integer
        limit:
          type: integer
        total_pages:
          type: integer

paths:
  /auth/register:
    post:
      tags: [Authentication]
      summary: Register a new user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password, confirm_password, full_name]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  minLength: 8
                confirm_password:
                  type: string
                full_name:
                  type: string
      responses:
        '200':
          description: Registration successful
        '400':
          description: Validation error

  /auth/login:
    post:
      tags: [Authentication]
      summary: Login user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                password:
                  type: string
      responses:
        '200':
          description: Login successful
        '401':
          description: Invalid credentials

  /books:
    get:
      tags: [Books]
      summary: List books
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: category
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Books retrieved

  /books/{book_id}:
    get:
      tags: [Books]
      summary: Get book details
      parameters:
        - name: book_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Book details retrieved
        '404':
          description: Book not found

  /users/me:
    get:
      tags: [Users]
      summary: Get current user profile
      security:
        - bearerAuth: []
      responses:
        '200':
          description: User profile retrieved
        '401':
          description: Unauthorized

  /subscriptions/plans:
    get:
      tags: [Subscriptions]
      summary: Get available subscription plans
      responses:
        '200':
          description: Plans retrieved

  /admin/dashboard/stats:
    get:
      tags: [Admin]
      summary: Get dashboard statistics
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Statistics retrieved
        '403':
          description: Admin access required
